<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

    <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h1 th:text="${concertWorkTrack.title}"></h1>

    <audio controls="controls">
        <source th:src="${concertWorkTrack.audioPath}" type="audio/mp4">
        Your browser does not support the audio element.
        </source>
    </audio>

</div>
</body>
</html>