<!DOCTYPE html>
<html>
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

    <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h1> Chorus Digital</h1>
    <h2> Digital Website</h2>

    <img alt="Group" src="${picURL}" th:src="@{${picURL}}" width="90%"/>

</div>
</body>
</html>
