<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

    <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Season</h2>
    <div>
        <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
        <form th:object="${season}" th:action="@{/season/save}" method="post">

            <!--suppress HtmlUnknownAttribute -->
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Start Year:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <input type="text" class="form-control" th:field="*{startYear}" autofocus="autofocus" />
                    <div class="validation-error" th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Blurb:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <input type="text" class="form-control" th:field="*{blurb}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Notes:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <textarea rows = "10" cols = "50" th:field="*{notes}">...</textarea>
                    <div class="validation-error" th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Brochure(F):</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <input type="text" class="form-control" th:field="*{brochureFront}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Brochure(B):</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <input type="text" class="form-control" th:field="*{brochureBack}"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>


